/* Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 30px;
    width: 100vw;
    height: 90vh;
    background: url("./sunnyside-agency-landing-page-main/images/mobile/image-header.jpg") center/cover no-repeat;
}

.nav-bar{
    background: white;
    width: 80%;
    height: 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;   
    display: none;
}

.triangle{
    position: absolute;
    height:0 ;
    width: 0;
    top: -45px;
    right: 0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid white;
     
}

.nav-bar ul li{
    list-style-type: none;
    padding-top: 30px;
}


.nav-bar ul li a{
    text-decoration: none;
    color: hsl(210, 4%, 67%);
    
    display: block;
}

.nav-bar button{
     background:hsl(51, 100%, 49%) ;
     padding: 15px 20px;
     border-radius: 25px;
     border: none;
     margin-top: 30px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    left: 80%;
    top: 30px;
}

label #cancel{
    display: none;
}

#check:checked ~ label #btn{
    display: none;
}

#check:checked ~ label #cancel{
    display: block;
}

#check:checked ~ .nav-bar{
    display: block;
}

.creative{
    text-align: center;
}

.creative h1{
    color: white;
    letter-spacing: 3px;
    margin: 100px 0 50px 0;
    font-size: 40px;
    text-align: center;
}


/* *******************CONTENT******************* */
.contents{
 width: 100%;
 text-align: center;
}

.content-1 img{
    width: 100%;
}

.content-2{
    margin: 70px 30px;
}

.content-2 p{
    margin: 20px 0;
    line-height: 25px;
}

.content-3,.content-4{
    position: relative;
    width: 100%;
}

.content-3 img,.content-4 img{
    width: 100%;
}

.graphics{
    position: absolute;
    top: 60%;
    padding: 30px;
}

.graphics p,.photo P{
    line-height: 25px;
    margin: 20px 0;
}

.photo{
    padding: 30px;
    position: absolute;
    top: 60%;
}

/* **************TESTIMONY************ */
.testimony{
    text-align: center;
    margin: 30px 30px 80px;
}

.title{
    margin: 20px 0 35px 0;
    color: hsl(210, 4%, 67%);
}

.emily{
    margin-bottom: 45px;
}

.emily img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.emily p{
    margin: 20px 0;
}

.emily h6{
    color: hsl(210, 4%, 67%);
}


/* ***********************IMAGES**************** */
 .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
 }

 .images .img img{
    width: 100%;
 }

 /* *************FOOTER*************** */
 .footer{
    padding: 50px 30px;
    text-align:center;
    background: hsl(168, 34%, 41%);
 }

 .logo-2{
    margin-bottom: 20px;
 }

 .links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
 }

 .links ul li{
    list-style-type: none;
    /* padding-left: 40px; */
 }

 .links ul li a{
    text-decoration: none;
    display: block;
    color:hsl(167, 40%, 24%) ;
 }

 .icons img{
    margin-left: 15px;
 }

@media screen and (min-width:768px) and (max-width:1024px){
    .header{
        padding: 30px;
        width: 100vw;
        height: 90vh;
        background: url("./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg") center/cover no-repeat;
    }
    
    .intro{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar{
        background: none;
        width: initial;
        height: initial;
        padding: 0;
        display: flex;
        top: 0;
        left: 0;
        transform: none;
        position: initial;   
        
    }
    
    .triangle{
      display: none;
    }

    .nav-bar ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-bar ul li{
        padding-top: 0;
        padding-left: 25px;
    }
    
    
    .nav-bar ul li a{
        color: white;
    }
    
    .nav-bar button{
         background:white;
         margin-top: 0;
         margin-left: 25px;
    }
    
    
    label #btn,label #cancel{
        display: none;
    }

    .creative h1{
        margin: 70px 0 50px 0;
    }
    

    /* ****************CONTENT*************** */

    .contents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content-3,.content-4{
        position: relative;
        width: 100%;
        
    }

     
    .contents .content:nth-of-type(1){
        order: 2;
    }

    .contents .content:nth-of-type(2){
        order: 1;
    }

    .contents .content:nth-of-type(3){
        order: 3;
    }

    .contents .content:nth-of-type(4){
        order: 4;
    }

    .contents .content:nth-of-type(5){
        order: 5;
    }

    .contents .content:nth-of-type(6){
        order: 6;
    }

    /* **************TESTIMONY************ */
.testimony-item{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}

/* ***********************IMAGES**************** */
.images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
 }

 .images .img img{
    width: 100%;
 }

/* *******************FOOTER************* */

.links ul{
    justify-content: center;
 }

 .links ul li{
    padding-left: 40px;
 }

 .links ul li:nth-child(1){
    padding-left: 0;
 }


    
}


